In [1]:
#import graphlab
import graphlab

A newer version of GraphLab Create (v1.8.1) is available! Your current version is v1.7.1.

You can use pip to upgrade the graphlab-create package. For more information see https://dato.com/products/create/upgrade.

In [2]:
#load data
data = graphlab.SFrame.read_csv("Downloads/MachineLearning-master/Example Data/OLS_Regression_Example_3.csv")

[INFO] 1454692514 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_FILE to /Users/wbcha/.graphlab/anaconda/lib/python2.7/site-packages/certifi/cacert.pem
1454692514 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_DIR to
This non-commercial license of GraphLab Create is assigned to B.Wang-6@student.tudelft.nl and will expire on September 21, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-87754 - Server binary: /Users/wbcha/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1454692514.log
[INFO] GraphLab Server Version: 1.7.1

PROGRESS: Finished parsing file /Users/wbcha/Downloads/MachineLearning-master/Example Data/OLS_Regression_Example_3.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.10684 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,float,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/wbcha/Downloads/MachineLearning-master/Example Data/OLS_Regression_Example_3.csv
PROGRESS: Parsing completed. Parsed 10000 lines in 0.023816 secs.

In [3]:
#take a look of data
data.head(5)

Columns:
	Gender	str
	Height	float
	Weight	float

Rows: 5

Data:
+--------+---------------+---------------+
| Gender |     Height    |     Weight    |
+--------+---------------+---------------+
|  Male  | 73.8470170175 |  241.89356318 |
|  Male  | 68.7819040459 | 162.310472521 |
|  Male  | 74.1101053918 | 212.740855557 |
|  Male  | 71.7309784033 | 220.042470303 |
|  Male  | 69.8817958611 | 206.349800624 |
+--------+---------------+---------------+
[5 rows x 3 columns]

In [4]:
data.tail(5)

Columns:
	Gender	str
	Height	float
	Weight	float

Rows: 5

Data:
+--------+---------------+---------------+
| Gender |     Height    |     Weight    |
+--------+---------------+---------------+
| Female | 66.1726521478 | 136.777454183 |
| Female | 67.0671546491 | 170.867905891 |
| Female | 63.8679922138 | 128.475318784 |
| Female | 69.0342431307 | 163.852461347 |
| Female | 61.9442458795 | 113.649102675 |
+--------+---------------+---------------+
[5 rows x 3 columns]

In [14]:
#split data into train and test set
train_data, test_data = data.random_split(0.5, seed = 1)

In [15]:
#create a linear svm model
model = graphlab.svm_classifier.create(train_data, target = "Gender", features= ["Height", "Weight"])

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: SVM:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 4808
PROGRESS: Number of classes           : 2
PROGRESS: Number of feature columns   : 2
PROGRESS: Number of unpacked features : 2
PROGRESS: Number of coefficients    : 3
PROGRESS: Starting L-BFGS
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+-----------+--------------+-------------------+---------------------+
PROGRESS: | Iteration | Passes   | Step size | Elapsed Time | Training-accuracy | Validation-accuracy |
PROGRESS: +-----------+----------+-----------+--------------+-------------------+---------------------+
PROGRESS: | 1         | 7        | 0.000915  | 0.024058     | 0.497712          | 0.487719            |
PROGRESS: | 2         | 11       | 21.000000 | 0.042275     | 0.902870          | 0.901754            |
PROGRESS: | 3         | 12       | 21.000000 | 0.049860     | 0.498752          | 0.487719            |
PROGRESS: | 4         | 20       | 1.303250  | 0.079474     | 0.814268          | 0.803509            |
PROGRESS: | 5         | 21       | 1.303250  | 0.086271     | 0.502080          | 0.512281            |
PROGRESS: | 6         | 25       | 3.000000  | 0.102777     | 0.505408          | 0.494737            |
PROGRESS: +-----------+----------+-----------+--------------+-------------------+---------------------+
PROGRESS: TERMINATED: Iteration limit reached.
PROGRESS: This model may not be optimal. To improve it, consider increasing `max_iterations`.

In [16]:
#make prediction
predictoin = model.predict(test_data)
predictoin

dtype: str
Rows: 4907
['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', ... ]

In [17]:
#evaluate model
evaluation = model.evaluate(test_data)

In [20]:
evaluation['accuracy']

0.8781332789891991

In [21]:
evaluation['confusion_matrix']

Columns:
	target_label	str
	predicted_label	str
	count	int

Rows: 4

Data:
+--------------+-----------------+-------+
| target_label | predicted_label | count |
+--------------+-----------------+-------+
|     Male     |       Male      |  2392 |
|     Male     |      Female     |   76  |
|    Female    |       Male      |  522  |
|    Female    |      Female     |  1917 |
+--------------+-----------------+-------+
[4 rows x 3 columns]